<?xml version="1.0"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="bootstrap.php"
	colors="true"
	failOnRisky="true"
	backupGlobals="false"
	backupStaticAttributes="false"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutTodoAnnotatedTests="true"
>
	<testsuites>
		<testsuite name="MonologTracy">
			<directory suffix="Test.php">./</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">../src</directory>
		</include>
		<exclude>
			<file>../src/Exception.php</file>
			<file>../src/Tracy/Exception.php</file>
		</exclude>
		<report>
			<clover outputFile="build/logs/clover.xml"/>
		</report>
	</coverage>
</phpunit>
